/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, header, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}

ol, ul {list-style: none;
}

blockquote, q {quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
}

html {
	margin: 20px;
	position:relative;
}
 
 .wrapper {
 	margin-left:auto;
 	margin-right: auto;
 	max-width: 1024px;
 	min-width: 320px;
 }
/***********************************************************************************/
/*@font-face {
    font-family: 'OctinVintageBRgRegular';
    src: url('octin_vintage_b_rg-webfont.eot');
    src: url('octin_vintage_b_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('octin_vintage_b_rg-webfont.woff') format('woff'),
         url('octin_vintage_b_rg-webfont.ttf') format('truetype'),
         url('octin_vintage_b_rg-webfont.svg#OctinVintageBRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'ArsenalRegular';
    src: url('Arsenal-Regular-webfont.eot');
    src: url('Arsenal-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Arsenal-Regular-webfont.woff') format('woff'),
         url('Arsenal-Regular-webfont.ttf') format('truetype'),
         url('Arsenal-Regular-webfont.svg#ArsenalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


@font-face {
    font-family: 'RokkittRegular';
    src: url('Rokkitt-webfont.eot');
    src: url('Rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('Rokkitt-webfont.woff') format('woff'),
         url('Rokkitt-webfont.ttf') format('truetype'),
         url('Rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*@font-face {
	font-family: 'Carton-Slab';
	src: url('Carton-Slab.eot');
	src: local('☺'), url('Carton-Slab.woff') format('woff'), url('Carton-Slab.ttf') format('truetype'), url('Carton-Slab.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@font-face {
	font-family: 'DistProTh';
	src: url('DistProTh.eot');
	src: local('☺'), url('DistProTh.woff') format('woff'), url('DistProTh.ttf') format('truetype'), url('DistProTh.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**************************************************************************************************/

/*
@media only screen and (max-width: 48em) { */


h1 {
	font-size: 2em; /*27px;*/
	font-family: 'RokkittRegular';
	color: black;
	padding: 10px 0 ;
	margin: 0;
}

h2 {
	font-family: 'RokkittRegular';
	font-size: 1.5em;/* 22px;*/
	color: black;
}

h3 {
	font-family:'DistProTh';
	font-size: 1em; /*16px*/
	line-height: 1.3em; /*20px*/
}

h5 {
	font-family:'DistProTh';
	font-size: .8em; /*/*12px;*/
}

html {
	max-width: 1140px;
}


.header {
	height: 100px;
/*	background-color: gray;*/
}

.header ul {
	line-height: 100%; /*80px;*/

}
.header li {
	display: inline;
	padding-right: 20px;
/*	padding-top: 20px;*/
	margin-top: 50px;
	float: right;
	color: white;
}

.header li a {
	padding: 0;
	margin: 20px 0 0 0;
	color:gray;
	text-decoration: none;
	font-family: 'DistProTh';
	/*font-variant: uppercase;*/
	font-size: 1.3em; /*20px*/
}

#logo img {
	height: 100px;
	float:left;
	margin: 10px;
}

#gallery {
	width: 100%;
	/*height: 800px;*/
	/*background: gray;*/
}

#gallery img {
	width: 100%;
	display:block;
	margin:0 auto;
}

#photo_overlay {
	position:absolute;
	top: 625px;
	z-index: 3;
	padding-left: 15px;
}

#text_background {
	background: whitesmoke;
	height: 125px;
	width: 65%;
	opacity: .5;
	z-index: 2;
	position: absolute;
	top: 605px;
}

/*****************************************************************/
#about {
	/*background-image: url('wood_1.png');*/
	color: black;
	padding: 15px;
	width: 100%;
	/*height: 350px;*/
/*	height: 100%;*/
	position: relative;
}

#about h1, h2 {
	color:black;
}
	#about span {
		text-align: center;
	}
#about p {
	padding-bottom: 10px;
}

#about ul {
	list-style-type: square;
}

	#about ul li {
		padding-bottom: 10px;
	}


#services {

/*	height: 100%; *//*150px;*/
	width: 100%; /*650px;*/
/*	margin: 0 0 0 -50px;*/
	/*left:50%;*/
	margin: 0 auto;
	position: relative;
	overflow: auto;
}
	#col1, #col2{
		width: 50%;
		margin-bottom: 10px;
	}

		#col1 {
			float:left;
			text-align: left;
			position:relative;
		}

		#col2 {
			float:left;
			position:relative;
			text-align: left;
		/*	margin-right: 5px;
		*/}
/*******************************************************************/
#customers {
	background: url('tiny_grid.png');
/*	height: 200px;*/
	width: 100%;
}

#customers h1 {
	margin:0 auto;
	text-align: center;
}
/*******************************************************************/
#team {
	background-image: url('wood_1.png');
	padding-top: 15px;
	clear:both;
	color:white;
/*	position:absolute;*/
	padding: 15px;
/*	height: 650px;
*/	overflow: auto;
}

#team p {
	padding-bottom: 10px;
}

#team h1, h2 {
	color:white;
}

#team h1 {
	text-align: center;
}

#team_content {
	width: 70%;
	height: 100%;
	float:right;
}
/********************************************************************/
#contact {
	width:100%;
/*	height: 100%;*/	
	position:relative;
	margin:0;
	padding: 0;
}

#contact h1 {
	text-align: center;
	clear:both;
}

#contact form {
	width: 50%;
/*	height: 100%;
*/	margin: 0 auto;
	position:relative;
}

#contact input {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

#contact #submit {
	margin: 0 auto;
	width: 3em;
	padding: 10px;
	/*height: 25px;
	width: 50px;*/
	font-family: 'DistProTh';
	font-size: 1.5em;
	border-radius: 4px;
	background-color: lightgrey;
}

/* change this to fix the form */
#contact #note {
	padding-top:100%;
	/*padding-right:100%;*/
}

.footer {
	height: 50px;
	width: 100%;
	clear:both;
}

.footer p {
	padding: 20px;
}

#form_col1 {
	float:left;
	position:relative;
	width:45%;
	margin-right: 8%;
/*	clear:both;*/

}
#form_col2 {
	float:left;
	position: relative;
	width:45%;
	/*clear:both;*/
}

 /** } Media Query **/

@media only screen and (max-device-width: 30em) {

	} /** Media Query **/




