@import url('styles/reset.css');
@import url('styles/typography.less');


html {
	min-width: 1200px;
	max-width: 100%;
	box-sizing:border-box;
	//overflow-y: hidden;
	margin: 0 auto;
	
}

body {
	background-color: #DDF0E0;
}

.hide {
	display:none;
}
.subtext {
	width: 568px;
	// margin: 0 auto;
	float: left;
	padding-top: 20px;
	clear: both;
}

.title {
	float:left;
	line-height: 1.2em;
	text-align: center;
	border:3px solid white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	color: white;
	text-transform: lowercase;

}

#shade {
	opacity: .7;
	background-color:white;
	height: 145px;
	width: 100%;
	position:fixed;
	z-index: 2;
}

.header {
	height: 125px;
	padding: 5px;
	width: 100%;
		// min-width: 1020px;
	z-index: 3;
	position:fixed;
	width: 100%;

	#logo{
		float:left;
		display:block;
		margin-left: 15px;
		img {
			height: 120px;
			float:left;
			// margin: 10px;
		} //img
		#jrctext {
			position: absolute;
			left: 175px;
		}
	}  // #logo

	#selected {
		// min-width: 30px;
		background: black;
		height: 2px;
	// 	background-color: lightblue;
	// 	opacity: .5;
	// 	height: 55px;
	// 	width: 110px;
		position: absolute;
		//right: 482px;
		top: 47px;
	}
	 ul {
	 	margin-top: 40px;
		line-height: 100%; /*80px;*/
		padding: 0;
		float:right;
		display:block;
		border: 2px solid black;
		margin-right: 100px;

		li {
			// border-right: 3px solid black;
			margin-left: 25px;
			display: inline;
			padding-right: 25px;
			// margin-top: 50px;
			float: left;
			// color: white;
			line-height: 40px;

		
			a {
				padding: 0;
				margin: 0;
				color:black;
				text-decoration: none;
				font-size: 1.3em; /*20px*/
				text-transform: lowercase;
				line-height: 40px;
				position:relative;
				top: 1px;
			} //a
		} //li
	} //ul 
}// header




.slider {
		width: 1600px;
		height: 800px;
		overflow-x: scroll;
	}

#slider {
	#slide-0 {
		background-image: url("assets/photos/FinalKitchen1.jpg");
	}	
	#slide-1 {
		background-image: url("assets/photos/bathroom2.jpg");
	}
	#slide-2 {
		background-image: url("assets/photos/bathroom3.jpg");
	}

	// background-size:cover;
	// border-top: 3px solid grey;
	// height:800px;
	// width: 1600px;
	//img {
		//width: 100%;
		//display:block;
		//margin:0;
		// border: 15px solid white;
	//} //img

	

	.slide {
		float:left;
		width: 1600px;
		height: 800px;
	}
	.holder {
		width: 300%;
		//border-top: 3px solid grey;
	}

	
} // gallery

#text_background {
		background: whitesmoke;
		height: 125px;
		width: 55%;
		opacity: .5;
		z-index: 2;
		position: absolute;
		top: 605px;
	}//#text_background

	#photo_overlay {
		position:absolute;
		top: 602px;
		z-index: 2;
		// padding-left: 30px;
		// padding-bottom: 30px;
		height: 125px;
		width: 55%;
		// border: 3px solid white;
		border-left: none;

		h1 {
			padding-top: 35px;
			padding-left: 35px;
		}
		h2 {
			padding-left: 35px;
			padding-top: 5px;
		}
	}//#photo_overlay



/*****************************************************************/
#about {
	/*background-image: url('wood_1.png');*/
	z-index: 0;
	color: black;
	padding: 30px;
	width: 100%;
	height: 600px;
	width: 1200px;
	margin: 0 auto;
	/*height: 350px;*/
/*	height: 100%;*/
	position: relative;
	padding-top: 120px;
	// padding-bottom: 175px;

	 h2 {
		color:black;
	}
	p {
	padding-bottom: 10px;
	}

	img {
		height: 568px;
		position: relative;
		// top: -68px;
		// right: 215px;
		float:right;
	}

	
	.subtext {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#services {
		// width: 70%; 
		margin: 0 auto;
		position: relative;
		overflow: auto;
		display:block;
		float:left;
		width: 563px;
		// background: url('assets/struckaxiom.png');
		border: 3px solid black;
		h3 {
			font-size: 1.5em;
			padding: 30px;
			text-transform: lowercase;
		}
		h4 {
			font-size: 1.2em;
			line-height: 1.2em;		}
		ul {
		list-style-type: square;
		margin-bottom: 10px;
		// background-color:lightblue;
			li {
				padding-bottom: 10px;
			}// li
		}//ul

			#col1 {
				float:left;
				text-align: left;
				position:relative;
			}

			#col2 {
				float:left;
				position:relative;
				text-align: left;
			}

	} // services

} // #about

/*******************************************************************/
/*#customers {
	background: url('tiny_grid.png');
	height: 200px;
	width: 100%;
	padding: 30px;
}
*/
/*#customers h1 {
	margin:0 auto;
	text-align: center;
}
*//*******************************************************************/
#team {
	// background-image: url('assets/wood_1.png');
	width: 1200px;
	margin: 0 auto;
	padding-top: 175px; //15px;
	clear:both;
	color:black;
/*	position:absolute;*/
	padding: 110px 30px 30px 30px;
/*	height: 650px;
*/	overflow: auto;

	p {
		padding-bottom: 10px;
	}

	// h1, h2 {
	// 	color:white;
	// }

	h1 {
		text-align: center;
	}

	#team_content {
		width: 1120px;
		// height: 300px;
		position:relative;
		clear:both;
		margin: 0 auto;
		padding-top: 50px;

		img {
			height: 250px;
			padding-bottom: 15px;
		}
		.highlight {
				color:black !important;
			}
		
		.employee {
			width: 250px;
			height: 330px;
			float:left;
			margin-left: 40px;
			margin-bottom: 50px;

			h2 {
				
				text-align: center;
				color: rgb(126, 126, 126);
			}
			.role {
				font-family: SoinSansPro-Light;
			}
		}
		#joe.employee {
				margin-left: 0 !important;
			}
		

		}
		.show{
			display:none;
		}

		.teamshade {
			z-index: 1;
			position:absolute;
			height: 250px;
			width: 250px;
			border-radius: 50%;
			background-color:#D3D3D3;
			opacity: .7;
		}

		#biobox {
			width: 830px;
			height: 275px;
			border: 3px solid white;
			display:block;
			clear:both;
			padding: 15px;
		
		}

	#more {
		padding: 5px;
		font-family: "SoinSans-Bold";
		font-weight:bold;
		font-size: 30px;
		background-color: white;
		color:black;
		border:none;
		text-align: center;
	}
}// #team

/********************************************************************/
#contact {
	width:100%;
/*	height: 100%;*/	
	position:relative;
	margin:0;
	padding: 0;

	h1 {
		text-align: center;
		clear:both;
	}

	form {
		width: 50%;
	/*	height: 100%;
	*/	margin: 0 auto;
		position:relative;

		input {
			display: block;
			margin-bottom: 10px;
		}
		#submit {
			margin: 20px 0 0 235px;
			padding: 15px;
			height:25px;
			width: 50px;
			font-family: 'SoinSans-Bold';
			font-size: 25px;
		}
} // form

/* change this to fix the form */
#contact #note {
	padding-top:100%;
	padding-right:100%;
}



#form_col1 {
	float:left;
	position:relative;
	width:35%;
/*	clear:both;*/

}
#form_col2 {
	float:left;
	position: relative;
	width:35%;
	/*clear:both;*/
}

#formButton {
	padding: 7px;
	font-family: "SoinSans-Bold";
	font-weight:bold;
	font-size: 30px;
	background-color: black;
	color:white;
	border:none;
	margin: 0 auto;
	line-height: 36px;
}


.hidden {
	display: none;
}




}

.footer {
	height: 50px;
	width: 100%;
	clear:both;

	p {
		padding: 20px;
	}
}
