

body {
	font-size: 100%;
}




@font-face {font-family: 'CorbertCondensed-Thin';
			src: url('/jrcontracting/wwwroot/assets/webfonts/283BD3_0_0.ttf') format('truetype');
		}

@font-face {font-family: 'CorbertCondensed-Light';
			src: url('/jrcontracting/wwwroot/assets/webfonts/283BD3_4_0.ttf') format('truetype');
}

@font-face {font-family: 'CorbertCondensed-Medium';
			src: url('/jrcontracting/wwwroot/assets/webfonts/283BD3_2_0.ttf') format('truetype');
		}

@font-face {font-family: 'CorbertCondensed-Black';
			src: url('/jrcontracting/wwwroot/assets/webfonts/283BD3_5_0.ttf') format('truetype');
			
		}


/**************************************************************************************************/

/*
@media only screen and (max-width: 48em) { */


h1 {
	font-size: 2.7em; /*27px;*/
	font-family: "CorbertCondensed-Black";
	color: black;
	// padding: 10px 0 ;
	margin: 0;
	// text-transform: uppercase;
}

h2 {
	font-family: CorbertCondensed-Medium;
	font-size: 1.5em;/* 22px;*/
	color: black;
	line-height: 1.2em;
	// font-weight: normal;
}

h3 {
	font-family:CorbertCondensed-Medium;
	font-size: 1em; /*16px*/
	line-height: 1em; /*20px*/
	// font-weight: normal;
}

h4 {
	font-family: CorbertCondensed-Light;
	font-size:1em;
	line-height: 1em;
}

.subtext h4 {
	font-size: 1.5em;
	line-height: 1.2em;
}

#biobox h4 {
	font-size: 1.4em;
	line-height: 1.2em;
}

h5 {
	font-family: CorbertCondensed-Light, sans-serif;
	font-size: .8em; /*/*12px;*/
	// font-weight:normal;
}

